body{
	 margin: 0;
 	 padding: 0	;
	 background:url("images/map.png");
	 background-repeat: no-repeat;
	 background-size: cover;
	 /*width:900px;
	 /*height:900px;
	
	/* background-attachment: fixed;*/

	
}
.monstre{
	width:50px;
	weight:50px;
	position:absolute;
}
.ball,.ball-2{
	width:40px;
	weight:40px;
	position:absolute;	
}

.ball-2{
	top:410px;
	left:560px;	
}
.ball{
	top:510px;
	left:665px;	
}


	
.pacman{
	width:40px;
	weight:40px;
	position:relative;
	top:410px;
	left:160px;
}

.img_up {
	
/*	transform: rotate(90deg) translateX(180px);*/
transform: rotate(270deg);
}

.img_right {
	
	transform: rotate(0deg);
	
}

.img_down {
	
	transform: rotate(90deg);
	
}

.img_left {
	
	transform: rotate(180deg);
	
}

#monstre_1{
	
	top:410px;
	left:360px;	
	
}
#monstre_2{
	
	top:410px;
	left:430px;	
	
}
#monstre_3{
	
	top:410px;
	left:1180px;	
	
}
#monstre_4{
	
	top:410px;
	left:1250px;	
	
}

.blink {
		animation: blink-animation 1s steps(5, start) infinite;
		-webkit-animation: blink-animation 1s steps(5, start) infinite;
	}
	@keyframes blink-animation {
		to {
		visibility: hidden;
		}
	}
	@-webkit-keyframes blink-animation {
		to {
		visibility: hidden;
	}
}

.score {
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	text-align: center;
	font-size: 28px;
	color: red;
	font-weight: bold;
}